{% extends "APP/layout.html" %}

{% block title %}News Feed{% endblock %}

{% block script %}
    {% load static %}
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="{% static 'index.js' %}" type="text/babel"></script>
{% endblock %}

{% block body %}
<div id='Feed' style="width:50%; margin: auto;">
<div id='App'></div>

<div id='spinner-box' class='not-visible'>
    <div class='spinner-border text-primary' role='status'></div>
</div>
<div id='loading-box' class="text-center">
    <button class='btn btn-primary btn-lg' id='load-btn' >Load More</button>
</div>
</div>
</div>
{% endblock %}

