{% extends "APP/layout.html" %}
{% load static %}

{% block title %}News Feed{% endblock %}

{% block script %}
    <script src="{% static 'APP/index.js' %}"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
{% endblock %}

{% block body %}
<div id='posts-box'></div>
<div id='spinner-box' class='not-visible'>
    <div class='spinner-border text-primary' role='status'></div>
</div>
<div id='loading-box'>
    <button class='btn btn-primary' id='load-btn'>Load More</button>
</div>
{% endblock %}

