{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}News Feed{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'APP/styles.css' %}" rel="stylesheet">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <a class="navbar-brand" href="#">Network</a>
            <div>
              <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="#"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li>
                  <a href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="#">Following</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">Log In</a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>